*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "OpenSansBold", sans-serif;
}
h1.lead, h2.lead, h3.lead, h4.lead, h5.lead, h6.lead, .h1.lead, .h2.lead, .h3.lead, .h4.lead, .h5.lead, .h6.lead {
	font-family: "OpenSansRegular", sans-serif;
	text-transform: none;
}

.s_main .box {
	margin-bottom: 20px;
}
.box_search .form-group {
	margin-bottom: 0;
}
.box_search .panel-default {
    border: none;
}
.box_search .panel-default > .panel-heading {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 6px;
	border-radius: 4px;
}
.box_back h4 {
	display: inline;
	font: 14px "OpenSansBold", sans-serif;
	vertical-align: middle;
}
.box_back .btn-warning {
	font-size: 12px;
	text-transform: none;
	font-family: "OpenSansBold", sans-serif;
	padding: 6px 4px;
	float: right;
}
.box_back .panel-default > .panel-heading {
	padding: 6px;
}
.box_back .input-group {
	margin-bottom: 10px;
}
.box_back .input-group:last-child {
	margin-bottom: 0;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
	font-family: "OpenSansBold", sans-serif;
}
.box_mnu .panel-title {
	padding-right: 15px;
}
.panel > .list-group .list-group-item span, .panel > .panel-collapse > .list-group .list-group-item span {
	font-family: "OpenSansBold", sans-serif;
}
.box_mnu .panel-heading {
	padding-left: 10px;
}
.aside_carousel .carousel-indicators {
	position: relative;
	bottom: 0;
	margin-bottom: 0;
}
.aside_carousel .carousel-indicators li {
	border-color: #999;
}
.aside_carousel .carousel-indicators li.active {
	border-color: transparent;
}
.aside_carousel .item {
	min-height: initial;
	background-color: transparent;
}
.aside_carousel .carousel-control {
	color: #CCC2B5;
	text-shadow: none;
}
.car_controls .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	width: 10px;
	height: 10px;
}
.car_controls {
	position: absolute;
	width: 100%;
	bottom: 10px;
}
.box_articles .carousel-inner {
	margin-bottom: 20px;
}
.box_articles .item a {
	border-bottom: #F4893B 1px solid;
	font-size: 13px;
}
.box_articles .item a:hover {
	border-bottom: none;
	text-decoration: none;
}
.carousel-inner .aside_caroucel_cont p {
	font-size: 13px;
	margin-bottom: 10px;
}
.aside_caroucel_cont p:last-child {
	margin-bottom: 0;
}
.aside_carousel {
	line-height: 1.4;
}
.aside_carousel .lead {
	line-height: 1.2;
}
.box .well p {
	font-size: 13px;
	line-height: 1.4;
}
.box .well p:last-child {
	margin-bottom: 0;
}
.box .well h4 {
    margin-top: 0;
}

.tills {
    padding: 0 5px;
}
.content h1, .content .h1 {
    border-bottom: 1px solid #efefef;
    font-family: "OpenSansRegular",sans-serif;
    margin-top: 28px;
    padding-bottom: 16px;
}
.tt {
	display: table;
	position: relative;
	width: 100%;
}
.tr {
	display: table-row;
}
.tc {
	display: table-cell;
	vertical-align: middle;
}
.till_content {
    background-color: rgba(244, 134, 58, 0.75);
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.till_item a {
	position: relative;
}
.till_item a:hover .till_content {
	 background-color: rgba(255, 194, 20, 0.55);
}
.till_item img {
    width: 100%;
    vertical-align: middle;
    border: 0 none;
}
.till_item {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.till_item .tc .till_txt {
    text-align: center;
    vertical-align: middle;
}
.till_txt {
    color: #fff;
    display: inline-block;
    font-family: "OpenSansBold",sans-serif;
    font-size: 16px;
    margin: 0 50px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

.bens {
    font-family: "OpenSansBold",sans-serif;
    margin-bottom: 60px;
    margin-top: 20px;
    padding: 0 15px;
    position: relative;
    text-align: center;
}
.ben_item {
	background-image: -webkit-linear-gradient(#fff, #F6F6F6);
	background-image: -o-linear-gradient(#fff, #F6F6F6);
	background-image: linear-gradient(#fff, #F6F6F6);
	padding: 30px 0;
	font-family: "OpenSansBold", sans-serif;
}
.ben_item h4 {
	font-size: 26px;
	text-transform: none;
	color: #787878;
	margin-bottom: 0;
	line-height: 18px;
}
.ben_item h4 span {
	color: #242424;
}
.ben_item h4 sup {
	font-size: 15px;
}
.ben_item small {
	font-size: 12px;
}
.ben_item::before {
    background-image: -webkit-linear-gradient(#f3f3f3, #dedede);
    background-image: -o-linear-gradient(#f3f3f3, #dedede);
    background-image: linear-gradient(#f3f3f3, #dedede);
    content: "";
    height: 100%;
    position: absolute;
    right: 1px;
    top: 0;
    width: 1px;
}
.ben_item:last-child::before {
	display: none;
}

article {
	margin-bottom: 20px;
	margin-top: 30px;
}
article a,
.witget_news a {
	text-decoration: underline;
}
article a:hover,
.witget_news a:hover {
	text-decoration: none;
}
article ul {
	list-style-type: circle;
}
article img {
	max-width: 100%;
	margin-bottom: 20px;
}
.mapcontainer {
    text-align: center;
}
.witget_news ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.witget_news h4 {
	margin-bottom: 15px;
}
.wn_item .panel {
	max-width: 300px;
}
.wn_item:nth-child(2) .panel {
	margin-left: auto;
	margin-right: auto;
}
.wn_item:last-child .panel {
	float: right;
}

.main_footer {
	background-color: #242424;
	padding: 30px 0 10px;
	color: #fff;
	font-size: 16px;
	font-family: "RobotoRegular", sans-serif;
	margin-top: 20px;
}
.logo_wrap {
	overflow: hidden;
	height: 65px;
	margin-top: -15px;
}
.main_footer strong {
	display: block;
	line-height: 1.3;
}
.main_footer strong::before {
	content: "";
	position: absolute;
	background-color: #fff;
	height: 80%;
	left: 0px;
	top: 5px;
	width: 2px;
}
.footer_phone {
	font: bold 24px "RobotoBold", sans-serif;
	line-height: 0.8;
}
.callback {
	font: 12px "RobotoBold", sans-serif;
	color: #fff;
	text-decoration: none;
	border-bottom: #fff 1px dotted;
}
.callback:hover {
	border-bottom: #f27937 1px dotted;
	text-decoration: none;
}
a.developer {
	color: #575757;
	font-family: "RobotoBold", sans-serif;
	font-size: 15px;
	text-decoration: none;
	display: inline-block;
	margin-top: -10px;
}
a.developer:hover {
	text-decoration: none;
	color: #575757;
}
.modal-dialog {
	z-index: 10000;
	max-width: 360px;
}
.modal-footer {
	text-align: center;
	float: none;
}
